.menuTab {
    height: 64px;
    display: flex;
    align-items: center;
}

.flex {
    display: flex;
}

.linkDecoration {
    text-decoration: none;
}

.activeColor {
    color: #F2F2F3;
}

.app {
    margin: 0 auto;
    max-width: 1240px;
}

.cardFlex {
    flex: 1
}

.overflow {
    overflow-y: auto;
    height: 80vh;
    padding-right: 8px
}

.link {
    text-decoration: none;
    color: inherit;
}