.dragElement {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.overflow {
    overflow-y: auto;
    max-height: 40.3vh;
    padding-right: 15px;
    margin-right: -20px;
}

.dropZone {
    height: 100%;
}

.modalWidth {
    width: 40%;
}

.exitCross {
    display: flex;
    justify-content: flex-end;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #8585ad #2f2f37;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: #2f2f37;
}

*::-webkit-scrollbar-thumb {
    background-color: #8585ad;
    border-radius: 0;
    border: 0 solid #ffffff;
}

.mobileHeader {
    display: none;
}

.mobile {
    display: none;
}

.defaultText {
    display: none;
}

.noIngredientBlock {
    display: none;
}

@media screen and (max-width: 768px) {
    .dropZone {
        display: none;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    .mobileHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 8px;
    }

    .defaultText {
        display: block;
        text-align: center;
    }

    .draggableIngredientMobile {
        display: flex;
        padding-left: 8px;
        justify-content: flex-end;
        align-items: center;
    }

    .ingredientDataMobile {
        display: flex;
        padding: 16px 8px 16px 0;
        justify-content: flex-end;
        align-items: center;
        gap: 8px;
    }

    .mobileImg {
        height: 40px;
    }

    .mobilePrice {
        display: flex;
        gap: 8px;
    }

    .mobileLogo {
        margin-bottom: 15px
    }

    .noIngredientBlock {
        flex-grow: 1;
        display: block;
        text-align: center;
    }

    .parentContainer {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    .priceFlex {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 8px;
        flex: 1 0 0;
    }

    .footerFlex {
        display: flex;
        padding: 16px 8px;
        justify-content: flex-end;
        align-items: center;
        gap: 16px;
        border-radius: 15px 15px 0 0;
        background: #1C1C21;
    }
}