.modal {
    composes: modal from "../modal/modal.module.css";
}

.orderDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modalSize {
    width: 45%;
    height: 90vh;
}

.exitCross {
    align-self: flex-end;
}