.modal {
    composes: modal from "../modal/modal.module.css";
}

.orderDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.exitCross {
    align-self: flex-end;
}

@media screen and (max-width: 1440px) {
    .modalSize {
        width: 45%;
        height: 90vh;
    }
}