.modal {
    composes: modal from "../modal/modal.module.css";
}

.orderDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.orderNumber {
    color: #F2F2F3;
    text-align: center;

    /* button/glow */
    text-shadow: 0 4px 32px rgba(51, 51, 255, 0.50), 0 0 8px rgba(51, 51, 255, 0.25), 0 0 16px rgba(51, 51, 255, 0.25);

    /* desktop/digits large */
    font-family: Iceland, serif;
    font-size: 144px;
    font-style: normal;
    font-weight: 400;
    line-height: 120px; /* 83.333% */
}

.spinner {
    display: flex;
    margin-top: 300px;
    margin-bottom: 300px;
    justify-content: center;
    align-items: center;
}


