.forgotPasswordWindow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 13%;
}

.forgotPasswordBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forgotPasswordLinkBox {
    display: flex;
    flex-direction: row;
}

.secondaryButton {
    padding: 0;
}