.imagesContainer {
    display: flex;
}

.cardHeader {
    display: flex;
    justify-content: space-between;
}

.cardImages {
    display: flex;
    width: 64px;
    height: 64px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 100px;
    border: 2px solid #801AB2;
    background: #131316;
    position: relative; /* Important for z-index to work */
}

.card {
    border-radius: 40px;
    background: #1C1C21;
    padding: 24px;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.04), 0 0 2px 0 rgba(0, 0, 0, 0.06), 0 4px 8px 0 rgba(0, 0, 0, 0.04);
}

.cardFooter {
    display: flex;
    justify-content: space-between;
}

.cardPrice {
    display: flex;
    align-items: center;
}

.date {
    color: #8585AD;
}