.flex {
    display: flex;
    flex-wrap: wrap;
    padding-left: 16px;
    padding-right: 16px;
    row-gap: 32px;
    column-gap: 16px;
}

.lastOdd {
    flex: 1 1;
}

.navLink {
    display: flex;
    flex: 1 1;
    color: inherit;
    text-decoration: none;
}

.mobileVisibility {
    display: none;
}

.mobileCard {
    width: 272px;
}

.mobileButton {
    display: none;
}

@media screen and (max-width: 768px) {
    .desktopVisibility {
        display: none;
    }

    .navLink {
        display: flex;
        flex: 1 1;
        color: inherit;
        text-decoration: none;
        white-space: break-spaces;
    }

    .flex {
        row-gap: 32px;
        column-gap: 16px;
        padding-left: 8px;
        padding-right: 8px;
        justify-content: space-around;
    }

    .mobileSectionTitle {
        margin-left: 8px;
    }

    .mobileButton {
        display: block;
        padding: 0;
        margin-top: 18px;
    }

    .mobileCard {
        display: flex;
        flex-direction: column;
        /* flex: 1 1; */
        width: 144px;
        align-items: center;
    }

    .lastOdd {
        width: 144px;
        flex: unset;
    }
}