.app {
  margin: 0 auto;
  max-width: 1240px;
}

main {
  display: flex;
  flex-direction: row;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.tabWidth {
  width: 50%;
}

.spinner {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.exitCross {
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 768px) {
  .modalHeader {
    justify-content: flex-end;
  }
}
