.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 640px;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 40px;
    border: 1px solid rgba(76, 76, 255, 0.20);
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.04), 0 4px 8px 0 rgba(0, 0, 0, 0.04), 0 16px 24px 0 rgba(0, 0, 0, 0.04), 0 24px 32px 0 rgba(0, 0, 0, 0.04);
    background: #1C1C21;
    z-index: 1000;
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image {
    display: flex;
    justify-content: center;

    & img {
        width: 66%;
        padding: 0 20px;
    }
}

.modalContent {
    display: flex;
    justify-content: center;
}

.bottomContent {
    display: flex;
    flex-direction: column;
}

.textData {
    color: rgba(133, 133, 173, 1);
}


.exitCross {
    display: flex;
    justify-content: flex-end;
}

.orderDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spinner {
    display: flex;
    margin-top: 300px;
    margin-bottom: 300px;
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobileText {
    display: none;
}

@media screen and (max-width: 768px) {
    .modal {
        width: 100vw;
        height: 100vh;
    }

    .mobileText {
        display: block;
        text-align: center;
    }

    .mobileHeader {
        display: none
    }

    .image {
        margin-top: 16px;
    }
}