main {
    display: flex;
    flex-direction: row;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.tabWidth {
    width: 50%;
}

.app {
    margin: 0 auto;
    max-width: 1240px;
}

@media screen and (max-width: 768px) {
    .mobileNone {
        display: none;
    }

    .tabWidth {
        width: 100%;
    }
}