.flex {
    display: flex;
    flex-wrap: wrap;
}

.justifyCenter {
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .tabsWidth {
        width: 100vw;
    }

    .mobileTab {
        text-align: center;
        display: flex;
        width: 33vw;
        justify-content: center;
    }

    .mobileTab > * {
        min-width: 33vw !important;
        padding-left: 0;
        padding-right: 0;
    }

    .flex {
        flex-wrap: nowrap;
    }

    .tab {
        min-width: 33vw;
    }
}