.flex {
    display: flex;
}

.card {
    composes: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.textCenter {
    text-align: center;
}

.mobileImg {
    display: none;
}

@media screen and (max-width: 768px) {

    .cardText {
        font-size: 14px;
        height: 60px;
    }

    .desktopImg {
        display: none;
    }

    .mobileImg {
        display: block;
        padding: 0 0;
    }

    .priceSize {
        font-size: 22px;
    }
}