.flex {
    display: flex;
}

.card {
    composes: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.textCenter {
    text-align: center;
}

.mobileImg {
    display: none;
}

@media screen and (max-width: 768px) {
    .cardText {
        font-size: 14px;
    }

    .desktopImg {
        display: none;
    }

    .mobileImg {
        display: block;
    }

    .priceSize {
        font-size: 22px;
    }
}