.relative {
    position: relative;
}

.overflow {
    overflow-y: auto;
    height: 60vh;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #8585ad #2f2f37;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: #2f2f37;
}

*::-webkit-scrollbar-thumb {
    background-color: #8585ad;
    border-radius: 0;
    border: 0 solid #ffffff;
}

@media screen and (max-width: 1440px) {
    .modalSize {
        width: 45%;
    }

}

@media screen and (max-width: 768px) {
    .mobileCreateBurgerText {
        text-align: center;
        font-size: 28px;
    }

    .overflow {
        overflow-y: unset;
    }

    .noMobileLeft {
        margin-left: 0;
    }

    .mobileLeft {
        margin-left: 8px;
    }
}