.flexCentered {
    display: flex;
    align-items: center;
}

.flex {
    display: flex;
}

.navLink {
    display: flex;
    color: inherit;
    text-decoration: none;
}

.secondary {
    color: rgb(133, 133, 173);
}

.navLink:hover .secondary,
.navLink:hover svg {
    transition: color 0.3s ease-out, fill 0.3s ease-out;
    color: rgb(242, 242, 243);
    fill: rgb(242, 242, 243);
}

.navSide {
    flex: 1; /* Makes left and right sides take up equal space */
    display: flex;
    justify-content: center; /* Center aligns the content of left and right nav */
}

.navLeft {
    justify-content: flex-start; /* Aligns content to the left end */
}

.navRight {
    justify-content: flex-end; /* Aligns content to the right end */
}

.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1C1C21;
}

.navRight {
    display: flex;
    justify-content: end;
}

.linkDecoration {
    text-decoration: none;
}

.app {
    margin: 0 auto;
    max-width: 1240px;
}

.bg {
    background-color: #1C1C21;
}

.logo {
    /* Center the logo */
    flex-grow: 0; /* Prevents the logo from growing and ensures it stays centered */
    margin: 0 20px; /* Adjust the margin to your preference */
}

.mobileLogo {
    display: none;
}

@media screen and (max-width: 768px) {
    .flexCentered {
        display: none;
    }
    .logo {
        display: none;
    }

    .mobileNone {
        display: none;
    }

    .navRight, .navLeft {
        display: none;
    }

    .mobileLogo {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 12px 8px;
    }
    /* other styles for tablets */

    .motionCross {
        height: 24px;
    }
}