.flexCentered {
    display: flex;
    align-items: center;
}

.navLink {
    display: flex;
    color: inherit;
    text-decoration: none;
}

.secondary {
    color: rgb(133, 133, 173);
}

.navLink:hover .secondary,
.navLink:hover svg {
    transition: color 0.3s ease-out, fill 0.3s ease-out;
    color: rgb(242, 242, 243);
    fill: rgb(242, 242, 243);
}

.navBar {
    background-color: #1C1C21;
    composes: flexCentered;
    justify-content: space-between;
}

.navTab {
    flex: 1;
}

.navRight {
    justify-content: end;
}

.linkDecoration {
    text-decoration: none;
}

.app {
    margin: 0 auto;
    max-width: 1240px;
}

.bg {
    background-color: #1C1C21;
}

.logo {
    margin-left: 2%;
}